.qf-goodlist {
  .filter {
    background-color: white;
    margin-bottom: 10px;
    padding: 15px 0;
  }
  .table {
    background-color: white;
    padding: 15px;
    .table-header {
      padding: 20px 0;
    }
  }
  .good {
    text-align: center;
    img {
      display: inline-block;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
  }
  .anticon {
    margin-left: 10px;
    cursor: pointer;
  }
}

.qf-goodform {
  background-color: white;
  padding: 20px;
  .title {
    padding-bottom: 20px;
    font-weight: bold;
  }
}
